body {
    background-color: lightcyan;
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    border: 10px solid lightcoral;
    text-align: center;
}
